* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root {
    --fl-bg-color: #0f0e17;
    --fl-sec-title: deeppink;
    --fl-white: white;
    --fl-orange: orange;
}

body {
    background-color: var(--fl-bg-color);
    color: var(--fl-white);
}

h1, h2 {
    color: var(--fl-sec-title);
    margin: 1rem;
}

h3 {
    color: var(--fl-orange);
}

/* #region debug rimuovere prima di consegnare*/
/* .debug .col {
    width: calc(100% / 3);
    border: 1px solid white;
    background-color: red;
    
} */

/* #endregion debug  */

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.row .col {
    float: left;
    width: calc(100% / 3);
    padding: 0 1rem;
    text-align: center;
}

.col img {
    max-width: 100%;
    height: 200px;
}

.section_bottom p{
    padding: 0 1rem;
}